// typography NunitoSans

@font-face {
  font-family: NunitoSans-ExtraLight;
  src: url("../fonts/NunitoSans/NunitoSans-ExtraLight.ttf");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url("../fonts/NunitoSans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: NunitoSans-Italic;
  src: url("../fonts/NunitoSans/NunitoSans-Italic.ttf");
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url("../fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url("../fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url("../fonts/NunitoSans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url("../fonts/NunitoSans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: NunitoSans-Black;
  src: url("../fonts/NunitoSans/NunitoSans-Black.ttf");
}
/*==============================================
            Proxima
==============================================*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proxima-Nova-Font/Proxima\ Nova\ Font.otf");
}

/*==============================================
            PoiretOne
==============================================*/
@font-face {
  font-family: PoiretOne-Regular;
  src: url("../fonts/poiret_One/PoiretOne-Regular.ttf");
}
/*==============================================
            Inter
==============================================*/
@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-Medium;
  src: url("../fonts/inter/static/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("../fonts/inter/static/Inter-Bold.ttf");
}
/*==============================================
            Inter
==============================================*/
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
