//background
$theme-bg-main: #edece5;
$theme-orange-bg: #ff4509;
$theme-orange-bg-59: rgba(255, 69, 9, 0.59);
$theme-yellow-bg: #e4dacf;
$theme-white-bg: #ffffff;
$theme-white-bg-04: rgba(255, 255, 255, 0.4);
$theme-white-bg-19: rgba(255, 255, 255, 0.19);
$theme-black-bg-17: rgba(0, 0, 0, 0.17);
$theme-black-bg: #030303;
$theme-white-bg-17: rgba(255, 255, 255, 0.17);
$theme-modal-close-bg: #363636;
$theme-yellow-input-bg: rgba(237, 236, 229, 0.42);
$theme-white-bg-046: rgba(255, 255, 255, 0.46);
//text color
$color-white: #ffffff;
$theme-text-pure-black: #000000;
$theme-text-color-1: #363636;
$theme-text-black: #363636;
$theme-text-black-43: rgba(54, 54, 54, 0.43);
$theme-text-black-56: rgba(54, 54, 54, 0.56);
$theme-text-black-06: rgba(54, 54, 54, 0.6);
$theme-text-black-069: rgba(54, 54, 54, 0.69);
$theme-text-black-87: rgba(54, 54, 54, 0.87);
$theme-text-black-2: #363636;
$theme-text-black-3: #130f26;
$theme-text-white: #ffffff;
$theme-text-orange: #ff4509;
$theme-text-black-78: rgba(0, 0, 0, 0.78);
$theme-text-white-5: rgba(255, 255, 255, 0.5);
$theme-text-white-56: rgba(255, 255, 255, 0.56);
$theme-text-white-08: rgba(255, 255, 255, 0.8);
$theme-text-white-87: rgba(255, 255, 255, 0.87);
$theme-text-white-02: #f0f0f0;
$theme-text-black-25: rgba(0, 0, 0, 0.25);
$theme-text-orange-04: rgba(248, 136, 97, 0.4);
$theme-text-gray: #383c3e;
$theme-text-gray-2: #8e8e8e;
$theme-text-gray-3: #737b7d;
$theme-text-red: #d50d0d;
$theme-text-gray-4: #4f4f4f;
$theme-text-black-65: rgba(0, 0, 0, 0.65);
$theme-text-black-1: #0f0000;
$theme-text-black-7: rgba(0, 0, 0, 0.7);

//border color
$theme-border-white: #edece5;
$theme-border-pure-white: #ffffff;
$theme-border-orange: #ff4509;
$theme-border-grey: #737b7d;
