.mobile-font-10-nunito-sans-300 {
  font-size: mvw(10px);
  line-height: mvw(14px);
  margin-bottom: 0;
  @include fontLight300;
}
.mobile-font-10-nunito-sans-400 {
  font-size: mvw(10px);
  line-height: mvw(14px);
  margin-bottom: 0;
  @include fontRegular400;
}
.mobile-font-12-nunito-sans-400 {
  font-size: mvw(12px);
  line-height: mvw(16px);
  margin-bottom: 0;
  @include fontRegular400;
}
.mobile-font-13-nunito-sans-400 {
  font-size: mvw(13px);
  line-height: mvw(17px);
  margin-bottom: 0;
  @include fontRegular400;
}
.mobile-font-14-nunito-sans-400 {
  font-size: mvw(14px);
  line-height: mvw(19px);
  margin-bottom: 0;
  @include fontRegular400;
}
.mobile-font-14-nunito-sans-800 {
  font-size: mvw(14px);
  line-height: mvw(19px);
  margin-bottom: 0;
  @include fontExtraBold800;
}

/*=====================================
           poiretOne
======================================*/
.mobile-font-24-poiret-one-400 {
  font-size: mvw(24px);
  line-height: mvw(28px);
  margin-bottom: 0;
  @include fontPoiretOne400;
}

/*=====================================
          proxima-nova
======================================*/
.mobile-font-13-proxima-nova-250 {
  font-size: mvw(13px);
  line-height: mvw(16px);
  margin-bottom: 0;
  @include fontProximaLight;
}
.mobile-font-10-proxima-nova-400 {
  font-size: mvw(10px);
  line-height: mvw(12px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.mobile-font-18-proxima-nova-400 {
  font-size: mvw(18px);
  line-height: mvw(21px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.mobile-font-24-proxima-nova-400 {
  font-size: mvw(24px);
  line-height: mvw(28px);
  margin-bottom: 0;
  @include fontProximaRegular;
}
.mobile-font-10-proxima-nova-700 {
  font-size: mvw(10px);
  line-height: mvw(12px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.mobile-font-14-proxima-nova-700 {
  font-size: mvw(14px);
  line-height: mvw(17px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.mobile-font-16-proxima-nova-700 {
  font-size: mvw(16px);
  line-height: mvw(19px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.mobile-font-18-proxima-nova-700 {
  font-size: mvw(18px);
  line-height: mvw(21px);
  margin-bottom: 0;
  @include fontProximaBold;
}
.mobile-font-24-proxima-nova-700 {
  font-size: mvw(24px);
  line-height: mvw(28px);
  margin-bottom: 0;
  @include fontProximaBold;
}

.mobile-font-24-proxima-nova-900 {
  font-size: mvw(24px);
  line-height: mvw(28px);
  margin-bottom: 0;
  @include fontProximaBlack;
}
