.pt-20 {
  padding-top: mvw(20px);
}
.pt-28 {
  padding-top: mvw(28px);
}
.pt-32 {
  padding-top: mvw(32px);
}

.pt-55 {
  padding-top: mvw(55px);
}
.mb-40 {
  margin-bottom: mvw(40px);
}
.text-right {
  text-align: right;
}
