.home-title-text {
  width: mvw(317px);
  height: auto;
  // margin-left: mvw(60px);
  margin-top: mvw(87px);
}
.mobile-home-fold-para-text {
  padding-top: mvw(23px);
  color: $theme-text-black-06;
  padding-left: mvw(10px);
  padding-right: mvw(10px);
}
.mobile-home-fold-para-text-2 {
  padding-top: vw(31px);
  color: $theme-text-black-06;
}
.mobile-home-start-project-btn-link {
  width: mvw(156px) !important;
  height: mvw(41px);
  margin-top: mvw(31px) !important;
  margin: auto;
  display: inline-block;
}
.mobile-home-start-project-btn {
  width: mvw(156px);
  height: mvw(41px);
  line-height: mvw(41px);
  background: $theme-white-bg;
  box-shadow: 0 mvw(13px) mvw(31px) rgba(250, 116, 43, 0.13);
  border-radius: mvw(3px);
  border: none;
  padding: 0;
  font-size: mvw(12px);
  color: $theme-text-black;
  display: flex;
  @include fontBold700;

  span {
    background: $theme-orange-bg;
    width: mvw(40px);
    height: 100%;
    box-shadow: 0 mvw(13px) mvw(31px) rgba(250, 116, 43, 0.13);
    border-radius: mvw(4px);
    text-align: center;
    margin-right: mvw(14px);
    color: $theme-text-white;
  }
}
.mobile-home-award-section {
  padding: mvw(55px) mvw(26px) 0 mvw(26px);
}
.mobile-best-winter-icon {
  width: mvw(44px);
  height: auto;
}
.mobile-trustpilot-img {
  width: mvw(68px);
  height: auto;
}
.mobile-capterra-img {
  width: mvw(68px);
  height: auto;
}
.mobile-gartner-img {
  width: mvw(68px);
  height: auto;
}
.mobile-home-tech-agencies-card {
  width: mvw(312px);
  height: auto;
  padding: mvw(20px) mvw(23px) mvw(19px);
  background: $theme-white-bg;
  border-radius: mvw(2px);
  margin-left: mvw(24px);
  margin-top: mvw(42px);
}

.mobile-green-shield-icon {
  width: mvw(18px);
  height: auto;
}
.mobile-orange-arrow-icon {
  width: mvw(18px);
  height: auto;
}
.mobile-red-star-icon {
  width: mvw(18px);
  height: auto;
}
.mobile-home-tech-agencies-para {
  width: mvw(231px);
  height: auto;
  color: $theme-text-black-56;
  padding-top: mvw(7px);
}
.mobile-home-tech-agencies-content-section {
  padding-top: mvw(5px);
  position: relative;

  &::after {
    position: absolute;
    width: mvw(290px);
    height: mvw(1px);
    background: $theme-border-white;
    content: "";
    left: mvw(-12px);
    z-index: 99;
    top: mvw(15px);
  }
}
.mobile-home-trusted-company-logo-section {
  padding-top: mvw(31px);
  padding-left: mvw(32px);
  padding-right: mvw(31px);
}
.mobile-home-trusted-title {
  padding-top: mvw(56px);
  color: $theme-text-black-069;
}
.mobile-home-tech-team-card {
  // width: mvw(254px);
  width: mvw(300px);
  height: auto;
  padding: mvw(27px) mvw(15px) mvw(11px) mvw(14px);
  background: $theme-white-bg;
  // margin-left: mvw(15px);
  margin: auto;
}
.mobile-home-tech-team-para {
  letter-spacing: 0.06em;
  color: $theme-text-black-43;
  padding-top: mvw(14px);
  padding-bottom: mvw(16px);
  position: relative;

  &::after {
    left: 0;
    top: 45%;
    width: 30%;
    height: mvw(1px);
    background: rgba(19, 15, 38, 0.17);
    content: "";
    position: absolute;
  }
}
.mobile-home-tech-team-card-text2 {
  color: $theme-text-orange;
}
.mobile-home-tech-team-card-text3 {
  color: $theme-text-black-78;
}
.mobile-home-teach-team-card-section {
  padding-top: mvw(28px);
}
.mobile-home-augmnt-advantage-card {
  background: rgba(255, 255, 255, 0.17);
  border-radius: mvw(4px);
  min-height: mvw(77px);
  margin-bottom: mvw(14px);
  padding: mvw(18px) 0 mvw(19px) mvw(20px);
}
.mobile-home-augmnt-advantage-section {
  background: #030303;
  padding: mvw(43px) mvw(39px) mvw(47px) 0;
}
.mobile-home-augmnt-advantage-card-section {
  padding-left: mvw(33px);
  padding-top: mvw(36px);
}
.mobile-home-augmnt-advantage-icon-div {
  background: rgba(255, 69, 9, 0.59);
  border-radius: 100%;
  width: mvw(41px);
  height: mvw(41px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: mvw(20px);
}
.mobile-home-wallet-icon {
  width: mvw(22px);
  height: auto;
}
.mobile-home-star-hand-icon {
  width: mvw(15px);
  height: auto;
}
.mobile-home-weight-icon {
  width: mvw(24px);
  height: auto;
}
.mobile-home-dollar-icon {
  width: mvw(17px);
  height: auto;
}
.mobile-home-augmnt-advantage-card-text {
  color: $theme-text-white;
}
.mobile-home-augmnt-advantage-title {
  color: $theme-text-white;
  padding-left: mvw(36px);
}
.mobile-home-augmnt-advantage-subtitle {
  color: $theme-text-white;
  padding-left: mvw(106px);
  padding-top: mvw(15px);
}
.home-mobile-how-it-works-card {
  width: 100%;
  height: mvw(77px);
  background: rgba(255, 255, 255, 0.19);
  border-radius: mvw(2px);
  margin-bottom: mvw(5px);
  padding: mvw(8px) mvw(10px) mvw(9px) mvw(7px);
}
.mobile-home-how-it-works-section {
  // padding: mvw(27px) mvw(24px) 0 mvw(24px);
  padding: mvw(50px) mvw(24px) mvw(20px) mvw(24px);
}
.home-mobile-how-it-works-card-icon {
  width: mvw(60px);
  height: mvw(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 69, 9, 0.38);
  box-shadow: 0 mvw(13px) mvw(31px) rgba(250, 116, 43, 0.13);
  border-radius: mvw(11px);
  margin-right: mvw(11px);
}
.home-mobile-how-it-works-card-text {
  width: 70%;
  color: $theme-text-black;
}
.mobile-home-how-it-works--subtitle {
  padding-top: mvw(31px);
  margin: auto;
  width: fit-content;
}
.mobile-home-existing-client-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: mvw(12px);
  padding: mvw(14px) mvw(17px) mvw(36px) mvw(21px);
  width: mvw(255px);
  height: auto;
  margin-right: mvw(13px);
}
.mobile-home-existing-client-company-logo {
  width: mvw(50px);
  height: auto;
}
.mobile-home-existing-client-card-text-1 {
  margin-top: mvw(47px);
  margin-bottom: mvw(19px) !important;
  color: $theme-text-black-06;
  position: relative;

  &::after {
    position: absolute;
    background-image: url("../../../imgs/mobile/icons/closing-bracket-icon.svg");
    background-size: contain;
    content: "";
    z-index: 99;
    width: mvw(7px);
    height: mvw(7px);
    bottom: mvw(5px);
    background-repeat: no-repeat;
  }
  &::before {
    position: absolute;
    background-image: url("../../../imgs/mobile/icons/opening-braket-icon.svg");
    background-size: contain;
    content: "";
    z-index: 99;
    width: mvw(18px);
    height: mvw(17px);
    top: mvw(-30px);
    background-repeat: no-repeat;
  }
}
.mobile-home-existing-client-img-1 {
  width: mvw(48px);
  height: auto;
  margin-right: mvw(13px);
}
.mobile-home-existing-client-name {
  color: $theme-text-black-87;
}
.mobile-home-existing-client-postion {
  padding-top: mvw(7px);
  color: $theme-text-black-65;
}
.mobile-home-existing-client-section {
  padding-top: mvw(40px);
  padding-left: mvw(31px);
}
.mobile-home-existing-client-outer-section {
  padding-top: mvw(33px);
  margin-left: mvw(18px);
  // width: fit-content;
}
.mobile-home-blog-section {
  padding-top: mvw(13px);
  padding-bottom: mvw(26px);
}
.mobile-home-blog-title {
  color: $theme-text-pure-black;
}
.mobile-home-blog-card {
  margin-top: mvw(26px);
  width: mvw(297px);
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: mvw(12px);
}
.home-blog-img {
  width: 100%;
  height: auto;
  border-radius: mvw(12px);
}
.mobile-home-blog-card-content-section {
  padding: mvw(16px) mvw(31px) mvw(27px) mvw(16px);
}
.mobile-home-blog-card-title {
  color: $theme-text-black;
}
.mobile-home-blog-card-text {
  color: $theme-text-black-06;
  padding-top: mvw(9px);
  padding-bottom: mvw(18px);
}
.mobile-home-blog-profile-img-1 {
  width: mvw(26px);
  height: auto;
  margin-right: mvw(7px);
  border-radius: 50%;
}
.mobile-home-blog-card-blog-name {
  color: $theme-text-black-87;
}
.mobile-home-blog-card-company-name {
  color: $theme-text-black-65;
}
.mobile-home-blog-clock-icon {
  width: mvw(12px);
  height: auto;
  margin-right: mvw(3px);
}
.mobile-home-blog-card-time-text {
  font-size: mvw(9px);
  line-height: mvw(11px);
  color: $theme-text-black;
  margin-bottom: 0;
  @include fontProximaRegular;
}
.mobile-home-specialised-technologies-section {
  padding-left: mvw(10px);
  padding-right: mvw(10px);
  padding-top: mvw(15px);
}
.mobile-home-technologies-outer-section {
  padding-top: mvw(36px);
  padding-bottom: mvw(27px);
}
// .mobile-home-existing-client-card-img {
//   width: 100%;
//   height: mvw(100px);
//   overflow: hidden;

//   img {
//     object-fit: contain;
//   }
// }
.mobile-home-company-img1 {
  width: mvw(180px);
}
.mobile-home-company-img2 {
  width: mvw(180px);
}
.mobile-home-company-img3 {
  width: mvw(160px);
}
