.forget-modal-section {
  padding: mvw(25px) vw1(139px) mvw(20px) vw1(134px);
}
.forget-password-title {
  // font-size: vw1(36px);
  // line-height: vw1(42px);
  letter-spacing: -0.025em;
  color: #000000;
}
.forget-password-text1 {
  color: rgba(79, 79, 79, 0.8);
  // font-size: vw1(18px);
  // line-height: vw1(25px);
  padding-top: mvw(20px);
}
.forget-password-input-section {
  margin-top: vw1(37px);
  // padding-top: vw1(29px);
  padding-top: vw1(60px);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.forget-passowrd-input {
  width: mvw(200px);
  height: mvw(41px);
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: vw1(4px);

  input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    font-size: mvw(10px);
    line-height: mvw(15px);
    padding: 0 mvw(20px);
    @include fontBold700;
    color: $theme-text-gray-4;

    &::placeholder {
      color: #bdbdbd;
      @include fontSemiBold600;
    }
  }
}

.forget-password-submit-btn {
  // @include theme-mixin-orange-btn-vw1;
  // width: vw1(249px);
  // height: vw1(61px);
  // font-size: vw1(18px);
  // line-height: vw1(61px);
  // @include fontBold700;
  // box-shadow: 0 vw1(13px) vw1(31px) rgba(250, 116, 43, 0.13);
  // margin-top: vw1(37px);
  width: mvw(128px);
  height: mvw(41px);
  @include theme-mixin-orange-btn-vw1;
  font-size: mvw(12px);
  line-height: mvw(40px);
  @include fontSemiBold600;
  display: inline-block;
  text-align: center;
  margin-bottom: mvw(20px);
}
.forget-password-dont-have-text {
  color: rgba(47, 47, 47, 0.76);
  font-size: vw1(18px);
  line-height: vw1(27px);
}
.forget-password-btn {
  background: transparent;
  border: none;
  font-size: mvw(14px);
  line-height: mvw(18px);
  color: #777777;
  @include fontProximaRegular;
  margin-bottom: mvw(10px);
}
