@import "./accordian";

.mobile-banner-logo-section {
  padding: mvw(70px) mvw(28px) mvw(26px) mvw(28px);
  border-bottom: mvw(1px) solid rgba(0, 0, 0, 0.12);
}
.mobile-augmnt-logo {
  width: mvw(143px);
}
.mobile-community-section {
  padding-top: mvw(26px);
  padding-bottom: mvw(43px);
  position: relative;

  &::after {
    position: absolute;
    width: 80%;
    height: mvw(1px);
    content: "";
    background: rgba(0, 0, 0, 0.12);
    left: 8%;
    bottom: 0;
  }
  h2 {
    padding-left: mvw(5px);
    padding-right: mvw(5px);
  }
}
.mobile-banner-list {
  list-style: none;
  padding: mvw(26px) mvw(25px) 0 mvw(25px);

  li {
    position: relative;

    span {
      position: absolute;
      bottom: mvw(6px);
      left: mvw(-12px);
      font-size: mvw(30px);
      font-weight: 500;
    }
  }
}
.mobile-banner-slack-section {
  margin-top: mvw(44px);
  font-size: mvw(16px);
  line-height: mvw(19px);
  @include fontCodaExtrabold;
  font-weight: 400 !important;

  .banner-hash-icon {
    width: mvw(17px);
    margin-right: mvw(10px);
    margin-left: mvw(41px);
  }
}
.banner-img {
  width: mvw(322px);
}
.mobile-banner-problem-section {
  padding-top: mvw(40px);
}
.banner-problems-content-section {
  padding: mvw(24px) mvw(23px) mvw(63px) mvw(23px);
}
.mobile-sprial-down-arrow {
  width: mvw(90px);
  margin-bottom: mvw(6px);
  margin-left: mvw(55px);
}
.mobile-banner-down-arrow {
  width: mvw(85px);
  margin-bottom: mvw(10px);
  margin-right: mvw(60px);
}
.mobile-banner-underline-icon {
  position: absolute;
  width: mvw(220px);
  left: mvw(87px);
  bottom: mvw(-35px);

  img {
    width: 100%;
  }
}

// ========================================================
//               solution
// ========================================================
.mobile-solution-section {
  background: #030303;
  border-radius: mvw(6px);
  color: white;
  padding: mvw(34px) 0 mvw(28px) 0;
}
.solution-logo-img {
  width: mvw(281px);
  margin-top: mvw(36px);
}
.mobile-solution-slack-text {
  padding-right: mvw(47px);
  padding-top: mvw(10px);
  text-align: left;
  padding-bottom: mvw(28px);
}
.solution-hash-icon {
  width: mvw(29px);
}
.mobile-solution-card {
  // width: mvw(320px);
  width: 100%;
  padding: mvw(12px) mvw(10px) mvw(13px) mvw(16px);
  background: #202020;
  box-shadow: 0 mvw(4px) mvw(10px) rgba(131, 0, 0, 0.19);
  border-radius: mvw(9px);
  margin-bottom: mvw(28px);
}
.mobile-solution-card-section {
  margin-right: mvw(29px);
  margin-left: mvw(33px);
  padding-top: mvw(28px);
  border-top: mvw(1px) solid rgba(255, 255, 255, 0.33);
}
.solution-underline {
  position: absolute;
  width: mvw(167px);
  left: mvw(16px);
  bottom: mvw(-25px);

  img {
    width: 100%;
  }
}
.solution-downArrow {
  width: mvw(45px);
  position: absolute;
  top: mvw(35px);
  right: mvw(-43px);
  img {
    width: 100%;
  }
}
//========================================================================
//                             Listings
//========================================================================
.perk-sitting-person-section {
  padding: mvw(79px) mvw(40px) mvw(42px) mvw(52px);
}

.perk-sitting-person-img {
  width: mvw(103px);
}
.perk-absolute-text {
  position: absolute;
  left: mvw(110px);
  top: mvw(75px);
}
.socail-icon {
  width: mvw(15px);
  margin-left: mvw(3px);
}
//=========================================================================
//                            testimonials
//=========================================================================
.testimonial-gauge-img {
  width: mvw(178px);
}
.testomonial-cards-section {
  padding: mvw(42px) mvw(38px);

  .slick-next:before {
    content: url("../../../imgs/desktop/listings/right-arrow-with-circle-icon.svg");
    width: mvw(43px);
  }
  .slick-prev:before {
    content: url("../../../imgs/desktop/listings/left-arrow-with-circle-icon.svg");
    width: mvw(43px);
    // margin-left: mvw(-20px);
  }
  .slick-prev,
  .slick-next {
    width: auto;
    z-index: 99;
  }
}
.member-card {
  background: #ffffff;
  box-shadow: 0 mvw(4px) mvw(20px) rgba(0, 0, 0, 0.07);
  border-radius: mvw(10px);
  padding: mvw(26px) mvw(18px) mvw(12px) mvw(11px);
}
.member-card-quote-icon {
  width: mvw(30px);
}
.profile-img {
  width: mvw(37px);
  margin-right: mvw(7px);
}
.member-star {
  color: #ffa033;
  padding-left: mvw(4px);
  i {
    padding-left: mvw(2px);
  }
}
.join-down-arrow {
  width: mvw(104px);
  margin-left: mvw(40px);
  img {
    width: 100%;
  }
}
.orange-btn--join {
  width: mvw(184px);
  height: mvw(48px);
  margin-left: mvw(130px);
  margin-top: mvw(-30px);
  margin-bottom: mvw(72px);
}
.join-text-section-one,
.join-text-section-two,
.join-money-img-section,
.join-coffee-img-section {
  display: none;
}
