//------------------------------------------------------
//                 banner
//------------------------------------------------------
.augmnt-agency-logo {
  width: vw1(316px);
  margin-left: vw1(96px);
}
.community-for-section {
  padding-left: vw1(165px);
}
.community-list {
  list-style: none;
  li {
    .dot {
      font-size: vw1(100px);
      line-height: vw1(0px);
    }
  }
}
.tech-agency-section {
  padding-left: vw1(92px);
  padding-top: vw1(40px);
}
.runing-person-icon {
  width: vw1(198px);
  margin-top: vw1(20px);
}
.problem-section {
  padding-left: vw1(98px);
  padding-right: vw1(216px);
}
.banner-hash-icon {
  width: vw1(70px);
  margin-left: vw1(20px);
}
.orange-btn--banner {
  padding-top: vw1(63px);
  padding-right: vw1(246px);
}
//absolte
.banner-group-img {
  width: vw1(733px);
  position: absolute;
  left: vw1(50px);
  top: vw1(200px);

  img {
    width: 100%;
  }
}

.banner-up-arrow {
  position: absolute;
  width: vw1(100px);
  top: vw1(5px);
  left: vw1(260px);
  img {
    width: 100%;
  }
}

.banner-down-arrow {
  width: vw1(100px);
  position: absolute;
  left: vw1(300px);
  top: vw1(80px);

  img {
    width: 100%;
  }
}
.banner-spring-right-icon {
  position: absolute;
  right: vw1(-120px);
  top: vw1(-70px);
  width: vw1(173px);
  img {
    width: 100%;
  }
}
.banner-right-icon {
  position: absolute;
  right: vw1(-100px);
  top: vw1(50px);
  width: vw1(122px);

  img {
    width: 100%;
  }
}
.banner-underline-icon {
  position: absolute;
  right: vw1(50px);
  bottom: vw1(-70px);
  width: vw1(362px);

  img {
    width: 100%;
  }
}
/*========================================================
                     solution
=========================================================*/
.listing-solution-section {
  background: #030303;
  border-radius: vw1(53px);
  color: white;
  margin-top: vw1(58px);
}
.announcement-img {
  width: vw1(305px);
  margin-left: vw1(90px);
  margin-top: vw1(-20px);
}
.solution-augmnt-logo {
  width: vw1(750px);
}
.solution-hash-icon {
  width: vw1(80px);
  margin-right: vw1(11px);
  margin-top: vw1(-30px);
}
.solution-data {
  padding-left: vw1(100px);
  padding-right: vw1(100px);
  padding-bottom: vw1(167px);
  padding-top: vw1(100px);
}
.solution-data-card {
  width: vw1(384px);
}
//absolute
.solution-agency-title {
  position: absolute;
  bottom: vw(-15px);
  left: vw1(280px);
}
.solution-down-arrow {
  width: vw1(240px);
  position: absolute;

  img {
    width: 100%;
  }
}

.solution-underline-arrow {
  position: absolute;
  width: vw1(362px);
  right: 0;

  img {
    width: 100%;
  }
}
/*===============================================================
                             perk
=============================================================*/
.perk-section {
  padding: vw1(28px) vw1(85px) vw1(10px) vw1(169px);
}
.perk-star-icon {
  width: vw1(63px);
  margin-right: vw1(47px);
  margin-top: vw1(3px);
}
.perk-spring-img {
  width: vw1(271px);
}
.perk-sitting-img {
  width: vw1(320px);
  // margin-top: vw1(40px);
  margin-left: vw1(40px);
}
.perk-gauge-img {
  width: vw1(400px);
  margin-top: vw1(100px);
}
.perk-arrow-one,
.perk-arrow-two,
.perk-arrow-three,
.perk-arrow-four,
.perk-arrow-five,
.perk-arrow-six {
  position: absolute;
}
.perk-arrow-one {
  width: vw1(200px);
  right: vw1(40px);
  top: vw1(-150px);

  img {
    width: 100%;
  }
}

.perk-arrow-two {
  width: vw1(152px);
  right: vw1(40px);
  top: vw1(60px);

  img {
    width: 100%;
  }
}

.perk-arrow-three {
  width: vw1(152px);
  right: vw1(30px);
  bottom: vw1(-150px);

  img {
    width: 100%;
  }
}

.perk-arrow-four {
  width: vw1(220px);
  left: vw1(-40px);
  bottom: vw1(-100px);

  img {
    width: 100%;
  }
}

.perk-arrow-five {
  width: vw1(190px);
  left: vw1(-50px);
  bottom: vw1(140px);

  img {
    width: 100%;
  }
}

.perk-arrow-six {
  width: vw1(200px);
  left: vw1(-80px);
  top: vw1(-160px);

  img {
    width: 100%;
  }
}
/*====================================================================
                             member
===================================================================*/
.member-card {
  width: vw1(545px);
  background: white;
  padding: vw1(37px) vw1(22px) vw1(41px) vw1(21px);
  margin: auto;
  margin-bottom: vw1(30px);
  box-shadow: 0 vw1(4px) vw1(20px) rgba(0, 0, 0, 0.07);
  border-radius: vw1(10px);
  color: black;
}
.member-card__img {
  width: vw1(72px);
  margin-right: vw1(11px);
}
.member-card__social-icon {
  width: vw1(28px);
  margin-left: vw(30px);
}
.member-card__star {
  i {
    font-size: vw1(20px);
    color: #ffa033;
    padding-left: vw1(5px);
  }
}
.member-card-main-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: vw1(114px);
  padding-right: vw1(115px);
  padding-top: vw1(90px);
}
.member-card-quote-icon {
  width: vw1(100px);
  margin-right: vw1(39px);
}
.profile-img {
  width: vw1(79px);
  border-radius: vw1(100px);
  margin-right: vw1(11px);
}
.social-icon {
  width: vw1(24px);
  margin-left: vw1(5px);
}
//========================================================================
//                           join
//========================================================================
.orange-btn--join {
  margin-top: vw1(160px);
}
.join-section {
  padding-top: vw1(116px);
  padding-bottom: vw1(80px);
}
.join-down-arrow {
  width: vw1(100px);
  position: absolute;
  left: vw1(800px);
  img {
    width: 100%;
  }
}
.join-text-section-one,
.join-text-section-two,
.join-money-img-section,
.join-coffee-img-section {
  position: absolute;
  text-align: left;
}
.join-text-section-one {
  left: vw1(160px);
  top: vw1(250px);

  img {
    width: vw1(90px);
    margin-right: vw1(5px);
  }
}

.join-text-section-two {
  right: vw1(153px);
  top: vw1(250px);
}
.join-money-img-section {
  width: vw1(500px);
  top: vw1(300px);
  left: vw1(208px);

  img {
    width: 100%;
  }
}

.join-coffee-img-section {
  width: vw1(350px);
  top: vw1(300px);
  right: vw1(264px);

  img {
    width: 100%;
  }
}
