.pt-10 {
  padding-top: vw(10px);
}
.pt-15 {
  padding-top: vw(15px);
}
.pt-20 {
  padding-top: vw(20px);
}
.pt-25 {
  padding-top: vw(25px);
}
.pt-30 {
  padding-top: vw(30px);
}
.pt-35 {
  padding-top: vw(35px);
}
.pt-40 {
  padding-top: vw(40px);
}
.pt-45 {
  padding-top: vw(45px);
}
.pt-50 {
  padding-top: vw(50px);
}
.pl-72 {
  padding-left: vw(72px);
}

.mb-6 {
  margin-bottom: vw(6px);
}
.mb-27 {
  margin-bottom: vw(27px);
}

.pt-60 {
  padding-top: vw(60px);
}

.pl-165 {
  padding-left: vw(165px);
}
.float-right {
  float: right;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-color-black-opacity-78 {
  color: $theme-text-black-78;
}
.text-color-black {
  color: $theme-text-black-3;
}

.text-color-orange {
  color: $theme-text-orange;
}
