.mobile-home-notion-logo {
  width: mvw(30px);
  height: auto;
}
.mobile-home-three-m-logo {
  width: mvw(37px);
  height: auto;
}
.mobile-home-moto-logo {
  width: mvw(32px);
  height: auto;
}
.mobile-home-hp-logo {
  width: mvw(31px);
  height: auto;
}
.mobile-home-mastercard-logo {
  width: mvw(42px);
  height: auto;
}
.mobile-home-adobe-logo {
  width: mvw(31px);
  height: auto;
}
.mobile-home-airtable-logo {
  width: mvw(73px);
  height: auto;
}
.mobile-home-fedex-logo {
  width: mvw(37px);
  height: auto;
}
.mobile-home-elephant-logo {
  width: mvw(26px);
  height: auto;
}
.mobile-home-honda-logo {
  width: mvw(43px);
  height: auto;
}
.mobile-home-philips-logo {
  width: mvw(57px);
  height: auto;
}
.mobile-home-revolut-logo {
  width: mvw(42px);
  height: auto;
}
.mobile-home-bose-logo {
  width: mvw(73px);
  height: auto;
}
.mobile-home-citibank-logo {
  width: mvw(45px);
  height: auto;
}
/*=====================================
           tech
===================================*/
.solidity-icon {
  width: auto;
  height: mvw(18px);
}

.react-icon {
  width: auto;
  height: mvw(18px);
}
.flutter-icon {
  width: auto;
  height: mvw(18px);
}
.angular-icon {
  width: auto;
  height: mvw(18px);
}
.graphsql-icon {
  width: auto;
  height: mvw(18px);
}
.aws-icon {
  width: auto;
  height: mvw(18px);
}
.nuxtjs-icon {
  width: auto;
  height: mvw(18px);
}
.prometheus-icon {
  width: auto;
  height: mvw(18px);
}
.jenkins-icon {
  width: auto;
  height: mvw(18px);
}
.ansible-icon {
  width: auto;
  height: mvw(18px);
}
.terraform-icon {
  width: auto;
  height: mvw(18px);
}
.docker-icon {
  width: auto;
  height: mvw(18px);
}
.kubernetes-icon {
  width: auto;
  height: mvw(18px);
}
.pytorch-icon {
  width: auto;
  height: mvw(18px);
}
.mesos-icon {
  width: auto;
  height: mvw(18px);
}
.azure-icon {
  width: auto;
  height: mvw(18px);
}
.react-native-icon {
  width: auto;
  height: mvw(18px);
}
.splunk-icon {
  width: auto;
  height: mvw(18px);
}
.go-icon {
  width: auto;
  height: mvw(18px);
}
.nextjs-icon {
  width: auto;
  height: mvw(18px);
}
.node-js-icon {
  width: auto;
  height: mvw(18px);
}
.tensorflow-icon {
  width: auto;
  height: mvw(18px);
}
.python-icon {
  width: auto;
  height: mvw(18px);
}
.gcp-icon {
  width: auto;
  height: mvw(18px);
}
.salesforce-icon {
  width: auto;
  height: mvw(18px);
}
.firebase-icon {
  width: auto;
  height: mvw(18px);
}
.oracle-icon {
  width: auto;
  height: mvw(10px);
}
.rust-icon {
  width: auto;
  height: mvw(18px);
}
.metamask-icon {
  width: auto;
  height: mvw(18px);
}
.ethereum-icon {
  width: auto;
  height: mvw(18px);
}
.keras-icon {
  width: auto;
  height: mvw(18px);
}
.sagemaker-icon {
  width: auto;
  height: mvw(18px);
}
.spark-icon {
  width: auto;
  height: mvw(18px);
}
.apache-kafka-icon {
  width: auto;
  height: mvw(18px);
}
.kubeflow-icon {
  width: auto;
  height: mvw(18px);
}
.airflow-icon {
  width: auto;
  height: mvw(18px);
}
