/*====================================
           company logo
=====================================*/
.notion-logo {
  width: vw(47px);
  height: auto;
  margin-right: vw(66px);
}
.three-m-logo {
  width: vw(57px);
  height: auto;
  margin-right: vw(66px);
}
.moto-logo {
  width: vw(50px);
  height: auto;
  margin-right: vw(65px);
}
.hp-logo {
  width: vw(49.5px);
  height: auto;
  margin-right: vw(66px);
}
.mastercard-logo {
  width: vw(64px);
  height: auto;
  margin-right: vw(66px);
}
.honda-logo {
  width: vw(61px);
  height: auto;
  margin-right: vw(65px);
}
.elephant-logo {
  width: vw(33px);
  height: auto;
  margin-right: vw(65px);
}
.adobe-logo {
  width: vw(51px);
  height: auto;
  margin-right: vw(49px);
}
.airtable-logo {
  width: vw(127px);
  height: auto;
}
.citibank-logo {
  width: vw(80px);
  height: auto;
  margin-right: vw(72px);
}
.fedex-logo {
  width: vw(66px);
  height: auto;
  margin-right: vw(39px);
}
.bose-logo {
  width: vw(130px);
  height: auto;
  margin-right: vw(56px);
}
.revolut-logo {
  width: vw(80px);
  height: auto;
  margin-right: vw(56px);
}
.philips-logo {
  width: vw(108px);
  height: auto;
}

/*=========================================
           tech logo
==========================================*/

.react-icon {
  // width: vw(119px);
  width: vw(99px);
  height: auto;
  margin-right: vw(74px);
}
.flutter-icon {
  // width: vw(150px);
  width: vw(130px);
  height: auto;
  margin-right: vw(38px);
}
.angular-icon {
  // width: vw(155px);
  width: vw(135px);
  height: auto;
  margin-right: vw(38px);
}
.graphsql-icon {
  // width: vw(137px);
  width: vw(117px);
  height: auto;
  margin-right: vw(60px);
}
.aws-icon {
  // width: vw(68px);
  width: vw(48px);
  height: auto;
}
.nuxtjs-icon {
  // width: vw(146px);
  width: vw(126px);
  height: auto;
  margin-right: vw(47px);
}
.prometheus-icon {
  // width: vw(151px);
  width: vw(131px);
  height: auto;
  margin-right: vw(46px);
}
.jenkins-icon {
  // width: vw(141px);
  width: vw(121px);
  height: auto;
  margin-right: vw(53px);
}
.ansible-icon {
  // width: vw(162px);
  width: vw(142px);
  height: auto;
  margin-right: vw(31px);
}
.terraform-icon {
  // width: vw(141px);
  width: vw(121px);
  height: auto;
  margin-right: vw(52px);
}
.docker-icon {
  // width: vw(119px);
  width: vw(99px);
  height: auto;
}
.kubernetes-icon {
  // width: vw(153px);
  width: vw(133px);
  height: auto;
  margin-right: vw(40px);
}
.pytorch-icon {
  // width: vw(110px);
  width: vw(90px);
  height: auto;
  margin-right: vw(84px);
}
.mesos-icon {
  // width: vw(122px);
  width: vw(102px);
  height: auto;
  margin-right: vw(71px);
}
.azure-icon {
  // width: vw(104px);
  width: vw(84px);
  height: auto;
  margin-right: vw(90px);
}
.react-native-icon {
  // width: vw(164px);
  width: vw(144px);
  height: auto;
  margin-right: vw(32px);
}
.splunk-icon {
  // width: vw(104px);
  width: vw(84px);
  height: auto;
}
.go-icon {
  // width: vw(99px);
  width: vw(77px);
  height: auto;
  margin-right: vw(94px);
}
.nextjs-icon {
  // width: vw(88px);
  width: vw(66px);
  height: auto;
  margin-right: vw(107px);
}
.node-js-icon {
  // width: vw(123px);
  width: vw(103px);
  height: auto;
  margin-right: vw(70px);
}
.tensorflow-icon {
  // width: vw(160px);
  width: vw(140px);
  height: auto;
  margin-right: vw(34px);
}
.python-icon {
  // width: vw(152px);
  width: vw(132px);
  height: auto;
  margin-right: vw(53px);
}
.gcp-icon {
  // width: vw(89px);
  width: vw(79px);
  height: auto;
}
.salesforce-icon {
  // width: vw(96px);
  width: vw(76px);
  height: auto;
  margin-right: vw(97px);
}
.firebase-icon {
  // width: vw(120px);
  width: vw(100px);
  height: auto;
  margin-right: vw(77px);
}
.oracle-icon {
  // width: vw(125px);
  width: vw(105px);
  height: auto;
  margin-right: vw(64px);
}
.rust-icon {
  // width: vw(104px);
  width: vw(84px);
  height: auto;
  margin-right: vw(82px);
}
.metamask-icon {
  // width: vw(155px);
  width: vw(135px);
  height: auto;
  margin-right: vw(46px);
}
.ethereum-icon {
  // width: vw(127px);
  width: vw(107px);
  height: auto;
}
.keras-icon {
  // width: vw(128px);
  width: vw(108px);
  height: auto;
  margin-right: vw(65px);
}
.sagemaker-icon {
  // width: vw(150px);
  width: vw(130px);
  height: auto;
  margin-right: vw(48px);
}
.spark-icon {
  // width: vw(106px);
  width: vw(86px);
  height: auto;
  margin-right: vw(85px);
}
.apache-kafka-icon {
  // width: vw(168px);
  width: vw(148px);
  height: auto;
  margin-right: vw(11px);
}
.kubeflow-icon {
  // width: vw(134px);
  width: vw(114px);
  height: auto;
  margin-right: vw(74px);
}
.airflow-icon {
  // width: vw(124px);
  width: vw(104px);
  height: auto;
}
